* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    background-color: azure;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 500px;
}

#filters {
    width: 500px;
    height: 100vw;
    cursor: pointer;
}

#cards {
    width: calc(100vw - 500px);
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 600px;
    height: 220px;
    margin: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 13px black;
    background: rgb(60, 62, 68);
}

.card img {
    height: 220px;
    width: 230px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card .data {
    padding: 15px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card .data h1 {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.card .data .status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .data .status_icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
    color: white;
    
}

.card .data h2 {
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.card .data h3 {
    color: rgb(158, 158, 158);
    font-size: 16px;
    font-weight: 500;
}

.card .data span {
    color: white;
    font-size: 18px;
}

.card{
    cursor: pointer;
}

#loading {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 224, 13, 0.5);
}

#loading img {
    width: 320px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.hidden {
    display: none !important;
}

.red {
    background-color: red;;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.opacity {
    opacity: 0.2;
}

#filters {
    background-color: rgb(192, 204, 204);
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

.filter {
    height: 40px;
    width: 470px;
    background-color: azure;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 3px;
    box-shadow: 4px 4px 4px lightgrey;
}

.selected {
    background-color: greenyellow;
    z-index: 100;
    box-shadow: 4px 4px 4px white;
}

#modal{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#estadistica{
    width: 800px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 5px grey;
}
#estadistica img{
    width: 50%;
    height: 70%;
}
.descripcion{
    display: flex;
    justify-content: center;
    position: relative;
    top: 450px;
}
.azul{
    width: 400px;
    height: 250px;
    background-color: #38b6e0;
    position: relative;
    left: 350px;
    bottom: 390px;
    border-radius: 10%;
}
.altura{
    
    padding-left: 20px;
    padding-top: 20px;
}
.altura2{
    padding-left: 20px;
}

.peso{
    padding-top: 100px;
    padding-left: 20px;
}
.peso2{
    padding-left: 20px;
}
.categoria{
    position: relative;
    left: 270px;
    bottom: 190px;
}
.categoria2{
    position: relative;
    left: 270px;
    bottom: 190px;
}
.habilidad{
    position: relative;
    left: 270px;
    bottom: 90px;
}
.habilidad2{
    position: relative;
    left: 270px;
    bottom: 89px;
}
.cover {
    width: 600px;
    height: 220px;
}